//- List container for cards
mixin list(posts, user)
  script.
    // converts pug vars to javascript var
    var record = !{JSON.stringify(posts)};
    // TODO:Turn funciton into get request and append values from clicked card to get request. Read them serverside, and respond with rendering editRecord page. Set values 
    // of pug to the values from the previous clicked card
    //- @Returns promise of Record in editRecord page
    async function GetRecord(recid, a){
      var params = {};

      for(const key in record){
        if(key == recid){
          params = new URLSearchParams({  // Create URLSearch parameters
            key: key,
            val: JSON.stringify(record[key])
          })
        }
      }
      
      // sets anchor href to needed url
      location.href = window.location.href + "/editrecord?" + params;
    }

  //- creates a mixin for card
  mixin card(record, user, Id)
    li.card
        div
          h3.card-title
            | #{record.PropertyName}
          .card-content
            .content
              ul
                - var owners = ""
                li LastDateEdited: #{record.LastDateEdited}
                li Insurance Name: #{record.Insurance}
                li Deductible Ammount: #{record.Deductible}
                each owner, key in record.Owners
                  if key == 0
                    - owners += owner
                  else 
                    - owners += ", " + owner
                li Owners: #{owners}
        //- If username is same as Owner usernames, then user can edit the card                
        each owner, id in record.Owners 
          if owner == user
            .card-link-wrapper
              .card-link
                a(href="#" onclick="GetRecord("+ id +", this)") Edit Record 

  .postcontainer
    h2
      |Post
    ul.cards    
      //- A sample card with dummy data
        li.card
          div
            h3.card-title
              | random card title
            .card-content
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          .card-link-wrapper
            .card-link
              a(href="#test") test link
      //- Creates cards for records returned from server
      each record, Id in posts
        script.
          var record = !{JSON.stringify(posts)};
          console.log(record[0])
        +card(record, user, Id)