//- List container for cards
mixin list(posts, user)
  //- creates a mixin
  mixin card(record, user, Id)
    script.
          // converts pug vars to javascript vars
          var Id = !{JSON.stringify(Id)};
          console.log(Id);
          var record = !{JSON.stringify(record)};
          console.log(record);

          function EditRecord(){
            const options = {
              method: 'POST',
              headers:{
                'content-Type': 'application/json'
              },
              body: JSON.stringify({ID: Id,
              recordInfo: record})
            };
            return fetch('editRecord', options).then((response) => response.json())
            .then((record) => {return record;})
          }
          //- @Returns promise of Record in editRecord page
          async function GetRecord(){
            const ClientRecord = await EditRecord();
            console.log(ClientRecord)
            return ClientRecord;
          }
    li.card
        div
          h3.card-title
            | #{record.PropertyName}
          .card-content
            .content
              ul
                - var owners = ""
                li LastDateEdited: #{record.LastDateEdited}
                li Insurance Name: #{record.Insurance}
                li Deductible Ammount: #{record.Deductible}
                each owner, key in record.Owners
                  if key == 0
                    - owners += owner
                  else 
                    - owners += ", " + owner
                li Owners: #{owners}
        //- If username is same as Owner usernames, then user can edit the card                
        each owner, id in record.Owners 
          if owner == user
            .card-link-wrapper
              .card-link
                button(onclick="GetRecord()") Edit Record
        

  .postcontainer
    h2
      |Post
    ul.cards    
      //- A sample card with dummy data
        li.card
          div
            h3.card-title
              | random card title
            .card-content
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          .card-link-wrapper
            .card-link
              a(href="#test") test link
      //- Creates cards for records returned from server
      each record, Id in posts
        +card(record, user, Id)